In [35]:
import pandas as pd
from sqlalchemy import create_engine

In [36]:
# Storing IMDB_movies.csv aquired from Data World.
imdb_file = "data/IMDb_movies.csv"
imdb_df = pd.read_csv(imdb_file)
imdb_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81268,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,India,Telugu,Aswani Kumar V.,...,"Sritha Chandana, Pavani Gangireddy, Abhinav Go...","Set in an abandoned house, the film follows a ...",7.2,219,NaN,NaN,NaN,NaN,21.0,NaN
81269,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,...,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...","Set in Trivandrum, the story of Ottam unfolds ...",7.8,510,INR 4000000,NaN,$ 4791,NaN,NaN,NaN
81270,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,...,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.4,604,INR 10000000,NaN,NaN,NaN,NaN,NaN
81271,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,8.4,369,NaN,NaN,NaN,NaN,NaN,NaN
81272,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,7.2,190,NaN,NaN,$ 2833,NaN,NaN,NaN

In [17]:
imdb_df['votes']

0         537
1         171
2         420
3        2019
4         438
         ...
81268     219
81269     510
81270     604
81271     369
81272     190
Name: votes, Length: 81273, dtype: int64

In [18]:
imdb_df.dtypes

imdb_title_id             object
title                     object
original_title            object
year                       int64
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [37]:
imdb_mov = ["imdb_title_id", "title", "year", "genre", "duration", "country", "director", "actors","description","avg_vote",
            "budget", "usa_gross_income", "worlwide_gross_income", "votes","reviews_from_users","reviews_from_critics"]
imdb_trnfmd = imdb_df[imdb_mov].copy()

In [38]:
# Rename the column headers
imdb_trnfmd = imdb_trnfmd.rename(columns={"imdb_title_id": "title_id",
                                                          "usa_gross_income": "gross_income_usa",
                                                          "worlwide_gross_income": "gross_income_global",
                                                          "reviews_from_users": "user_rating",
                                                        "reviews_from_critics": "critics_reviews"})

In [13]:
imdb_trnfmd.head()

,title_id,title,year,genre,duration,country,director,actors,description,avg_vote,budget,gross_income_usa,gross_income_global,votes,user_rating,critics_reviews
4115,tt0035423,Kate & Leopold,2001,"Comedy, Fantasy, Romance",118,USA,James Mangold,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",An English Duke from 1876 is inadvertedly drag...,6.4,$ 48000000,$ 47121859,$ 76019048,75298,330.0,127.0
21096,tt0088751,The Naked Monster,2005,"Comedy, Horror, Sci-Fi",100,USA,"Wayne Berwick, Ted Newsom","Kenneth Tobey, Brinke Stevens, R.G. Wilson, Jo...","A brain-dead sheriff, a stolid secret agent an...",5.6,PYG 350000000,NaN,NaN,233,13.0,8.0
28059,tt0113026,The Fantasticks,2000,"Musical, Romance",86,USA,Michael Ritchie,"Joel Grey, Barnard Hughes, Jean Louisa Kelly, ...",A mysterious fair come to a small community in...,5.6,$ 10000000,$ 49666,$ 49666,1082,70.0,24.0
28084,tt0113092,For the Cause,2000,"Action, Adventure, Drama",100,USA,"David Douglas, Tim Douglas","Dean Cain, Thomas Ian Griffith, Justin Whalin,...",Earth is in a state of constant war and two co...,3.4,NaN,NaN,NaN,725,9.0,7.0
28478,tt0114447,The Silent Force,2001,Action,90,USA,David H. May,"Loren Avedon, Brian Tochi, Karen Kim, George C...",An elite Federal force whose objective is to e...,4.3,NaN,NaN,NaN,124,5.0,6.0

In [39]:

# Clean the data by dropping duplicates

imdb_trnfmd.drop_duplicates("title_id", inplace=True)

# Filtering DF by keeping based on year 2000 and up, and Country = 'USA'
imdb_trnfmd = imdb_trnfmd.loc[imdb_trnfmd["year"] >= 2000, :]
imdb_trnfmd = imdb_trnfmd.loc[imdb_trnfmd["country"] == "USA", :]

# Copy of existing dataframe
imdb_movies_df = imdb_trnfmd.copy()

#Dropping NaN Values from whole dataframe

imdb_movies_df = imdb_movies_df.dropna()

In [40]:
imdb_movies_df

,title_id,title,year,genre,duration,country,director,actors,description,avg_vote,budget,gross_income_usa,gross_income_global,votes,user_rating,critics_reviews
4115,tt0035423,Kate & Leopold,2001,"Comedy, Fantasy, Romance",118,USA,James Mangold,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",An English Duke from 1876 is inadvertedly drag...,6.4,$ 48000000,$ 47121859,$ 76019048,75298,330.0,127.0
28059,tt0113026,The Fantasticks,2000,"Musical, Romance",86,USA,Michael Ritchie,"Joel Grey, Barnard Hughes, Jean Louisa Kelly, ...",A mysterious fair come to a small community in...,5.6,$ 10000000,$ 49666,$ 49666,1082,70.0,24.0
29517,tt0118589,Glitter,2001,"Drama, Music, Romance",104,USA,Vondie Curtis-Hall,"Mariah Carey, Max Beesley, Da Brat, Tia Texada...",A young singer dates a disc jockey who helps h...,2.2,$ 22000000,$ 4274407,$ 5271666,20959,314.0,74.0
30317,tt0120467,Vulgar,2000,"Crime, Drama, Thriller",87,USA,Bryan Johnson,"Brian O'Halloran, Bryan Johnson, Jerry Lewkowi...",A man who performs as a children's birthday pa...,5.3,$ 120000,$ 15927,$ 15927,3852,119.0,22.0
30421,tt0120681,From Hell,2001,"Horror, Mystery, Thriller",122,USA,"Albert Hughes, Allen Hughes","Johnny Depp, Heather Graham, Ian Holm, Robbie ...","In Victorian-era London, a troubled clairvoyan...",6.8,$ 35000000,$ 31602566,$ 74558115,141180,546.0,189.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80111,tt8186318,Overcomer,2019,"Drama, Sport",119,USA,Alex Kendrick,"Alex Kendrick, Shari Rigby, Ben Davies, Prisci...",A high-school basketball coach volunteers to c...,6.7,$ 5000000,$ 34712782,$ 35721533,1510,108.0,17.0
80277,tt8350360,Annabelle Comes Home,2019,"Horror, Mystery, Thriller",106,USA,Gary Dauberman,"Vera Farmiga, Patrick Wilson, Mckenna Grace, M...",While babysitting the daughter of Ed and Lorra...,5.9,$ 27000000,$ 74152591,$ 228552591,39872,648.0,211.0
80858,tt9024106,Unplanned,2019,"Biography, Drama",109,USA,"Chuck Konzelman, Cary Solomon","Ashley Bratcher, Brooks Ryan, Robia Scott, Jar...",All Abby Johnson ever wanted to do was help wo...,5.8,$ 6000000,$ 19005109,$ 19320481,10783,531.0,32.0
80946,tt9134216,Playing with Fire,2019,"Comedy, Family",96,USA,Andy Fickman,"John Cena, Keegan-Michael Key, John Leguizamo,...",A crew of rugged firefighters meet their match...,4.5,$ 29900000,$ 18847824,$ 21788746,1067,49.0,16.0
81059,tt9354944,Jexi,2019,Comedy,84,USA,"Jon Lucas, Scott Moore","Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",A comedy about what can happen when you love y...,6.6,$ 5000000,$ 6546159,$ 7257918,3674,46.0,24.0

In [41]:
# This is commented because we ran this block of code successfully
# Removing $, EUR, AD currency indicators and turn columns into Integer from Object.
imdb_movies_df[imdb_movies_df.columns[10:12]] = imdb_movies_df[imdb_movies_df.columns[10:12]].replace('[$,EUR,AD,AUD,ER]', '', regex=True).astype(int)

In [43]:
imdb_movies_df[imdb_movies_df.columns[12]] = imdb_movies_df[imdb_movies_df.columns[12]].replace('[$,EUR,AD,AUD,ER]', '', regex=True).astype(int)

In [44]:
imdb_movies_df.head()

,title_id,title,year,genre,duration,country,director,actors,description,avg_vote,budget,gross_income_usa,gross_income_global,votes,user_rating,critics_reviews
4115,tt0035423,Kate & Leopold,2001,"Comedy, Fantasy, Romance",118,USA,James Mangold,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",An English Duke from 1876 is inadvertedly drag...,6.4,48000000,47121859,76019048,75298,330.0,127.0
28059,tt0113026,The Fantasticks,2000,"Musical, Romance",86,USA,Michael Ritchie,"Joel Grey, Barnard Hughes, Jean Louisa Kelly, ...",A mysterious fair come to a small community in...,5.6,10000000,49666,49666,1082,70.0,24.0
29517,tt0118589,Glitter,2001,"Drama, Music, Romance",104,USA,Vondie Curtis-Hall,"Mariah Carey, Max Beesley, Da Brat, Tia Texada...",A young singer dates a disc jockey who helps h...,2.2,22000000,4274407,5271666,20959,314.0,74.0
30317,tt0120467,Vulgar,2000,"Crime, Drama, Thriller",87,USA,Bryan Johnson,"Brian O'Halloran, Bryan Johnson, Jerry Lewkowi...",A man who performs as a children's birthday pa...,5.3,120000,15927,15927,3852,119.0,22.0
30421,tt0120681,From Hell,2001,"Horror, Mystery, Thriller",122,USA,"Albert Hughes, Allen Hughes","Johnny Depp, Heather Graham, Ian Holm, Robbie ...","In Victorian-era London, a troubled clairvoyan...",6.8,35000000,31602566,74558115,141180,546.0,189.0

In [45]:
# Droping the country column
imdb_movies_df.drop(columns=['country'],inplace = True)
# Droping gross income global column
#imdb_movies_df.drop(columns=['gross_income_global'],inplace = True)

In [46]:
#imdb_movies_df.sort_values(by=['year'])
imdb_movies_df.sort_values(by=['title', 'year'], ascending= True, inplace = True )
# Resetting index
imdb_movies_df.reset_index()

,index,title_id,title,year,genre,duration,director,actors,description,avg_vote,budget,gross_income_usa,gross_income_global,votes,user_rating,critics_reviews
0,51111,tt1022603,(500) Days of Summer,2009,"Comedy, Drama, Romance",95,Marc Webb,"Joseph Gordon-Levitt, Zooey Deschanel, Geoffre...",An offbeat romantic comedy about a woman who d...,7.7,7500000,32391374,60722734,448799,563.0,349.0
1,52966,tt1179933,10 Cloverfield Lane,2016,"Drama, Horror, Mystery",103,Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...","After getting in a car accident, a woman is he...",7.2,15000000,72082998,110216998,268631,700.0,514.0
2,68764,tt3453052,10 Days in a Madhouse,2015,Drama,111,Timothy Hines,"Caroline Barry, Christopher Lambert, Kelly LeB...","In 1887, at age 23, reporter Nellie Bly, worki...",6.7,120000,14616,14616,1152,26.0,2.0
3,66239,tt2789014,100 Acres of Hell,2019,"Action, Horror",85,Hank Leigh Hump,"Gene Snisky, Jeff Swanton, Jim Roof, Ernest O'...",When ex pro wrestler Buck Severs travels to an...,2.9,65000,5152,5152,143,17.0,9.0
4,42100,tt0360323,10th & Wolf,2006,"Crime, Drama, Thriller",107,Bobby Moresco,"James Marsden, Giovanni Ribisi, Brad Renfro, P...",A former street tough returns to his Philadelp...,6.3,8000000,54702,143451,5938,34.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,43215,tt0383060,Zoom,2006,"Action, Adventure, Comedy",83,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Spencer...",Former superhero Jack is called back to work t...,4.3,35000000,11989328,12506188,17598,119.0,61.0
2478,66770,tt2948356,Zootopia,2016,"Animation, Adventure, Comedy",108,"Byron Howard, Rich Moore","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...","In a city of anthropomorphic animals, a rookie...",8.0,150000000,341268248,1023784195,396148,642.0,474.0
2479,45111,tt0429277,Zyzzyx Rd,2006,"Crime, Drama, Thriller",90,John Penney,"Leo Grillo, Katherine Heigl, Tom Sizemore, Ric...",The family man accountant Grant travels to Las...,4.0,2000000,30,30,930,11.0,1.0
2480,39653,tt0295701,xXx,2002,"Action, Adventure, Thriller",124,Rob Cohen,"Vin Diesel, Asia Argento, Marton Csokas, Samue...","An extreme sports athlete, Xander Cage, is rec...",5.9,70000000,142109382,277448382,168051,739.0,188.0
2481,41086,tt0329774,xXx: State of the Union,2005,"Action, Adventure, Crime",101,Lee Tamahori,"Willem Dafoe, Samuel L. Jackson, Ice Cube, Sco...","Darius Stone, a new agent in the xXx program, ...",4.4,60000000,26873932,71022693,64761,228.0,62.0

In [47]:
# keeping only first string of genre
imdb_movies_df["genre"] = imdb_movies_df.genre.str.split(",").str.get(0)

In [49]:
imdb_movies_df["profit"] = (imdb_movies_df["gross_income_usa"] + imdb_movies_df["gross_income_global"]) - imdb_movies_df["budget"]

In [50]:
imdb_movies_df.dtypes

title_id                object
title                   object
year                     int64
genre                   object
duration                 int64
director                object
actors                  object
description             object
avg_vote               float64
budget                   int64
gross_income_usa         int64
gross_income_global      int64
votes                    int64
user_rating            float64
critics_reviews        float64
profit                   int64
dtype: object

In [51]:
# Displaying clean final data frame
imdb_movies_df.head()

,title_id,title,year,genre,duration,director,actors,description,avg_vote,budget,gross_income_usa,gross_income_global,votes,user_rating,critics_reviews,profit
51111,tt1022603,(500) Days of Summer,2009,Comedy,95,Marc Webb,"Joseph Gordon-Levitt, Zooey Deschanel, Geoffre...",An offbeat romantic comedy about a woman who d...,7.7,7500000,32391374,60722734,448799,563.0,349.0,85614108
52966,tt1179933,10 Cloverfield Lane,2016,Drama,103,Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...","After getting in a car accident, a woman is he...",7.2,15000000,72082998,110216998,268631,700.0,514.0,167299996
68764,tt3453052,10 Days in a Madhouse,2015,Drama,111,Timothy Hines,"Caroline Barry, Christopher Lambert, Kelly LeB...","In 1887, at age 23, reporter Nellie Bly, worki...",6.7,120000,14616,14616,1152,26.0,2.0,-90768
66239,tt2789014,100 Acres of Hell,2019,Action,85,Hank Leigh Hump,"Gene Snisky, Jeff Swanton, Jim Roof, Ernest O'...",When ex pro wrestler Buck Severs travels to an...,2.9,65000,5152,5152,143,17.0,9.0,-54696
42100,tt0360323,10th & Wolf,2006,Crime,107,Bobby Moresco,"James Marsden, Giovanni Ribisi, Brad Renfro, P...",A former street tough returns to his Philadelp...,6.3,8000000,54702,143451,5938,34.0,24.0,-7801847

In [ ]:
# Stop......Please read carefully.

In [52]:
# Please Create New Database in pgAdmin (final_project_db) and " table (imdb_movies)

In [60]:
# Connecting to local database 
ETL_connection_string = "admin1:12345@localhost:5432/final_project_db"
engine = create_engine(f'postgresql://{ETL_connection_string}')

In [61]:
# Pulling tables from database
engine.table_names()

['imdb_movies']

In [62]:
# Below code worked and loaded successfully into pgAdmin Database table. 
imdb_movies_df.to_sql(name='imdb_movies', con=engine, if_exists='append', index=False)

DataError: (psycopg2.errors.NumericValueOutOfRange) integer out of range

[SQL: INSERT INTO imdb_movies (title_id, title, year, genre, duration, director, actors, description, avg_vote, budget, gross_income_usa, gross_income_global, votes, user_rating, critics_reviews, profit) VALUES (%(title_id)s, %(title)s, %(year)s, %(genre)s, %(duration)s, %(director)s, %(actors)s, %(description)s, %(avg_vote)s, %(budget)s, %(gross_income_usa)s, %(gross_income_global)s, %(votes)s, %(user_rating)s, %(critics_reviews)s, %(profit)s)]
[parameters: ({'title_id': 'tt1022603', 'title': '(500) Days of Summer', 'year': 2009, 'genre': 'Comedy', 'duration': 95, 'director': 'Marc Webb', 'actors': 'Joseph Gordon-Levitt, Zooey Deschanel, Geoffrey Arend, Chloë Grace Moretz, Matthew Gray Gubler, Clark Gregg, Patricia Belcher, Rachel Boston, Minka Kelly, Charles Walker, Ian Reed Kesler, Darryl Alan Reed, Valente Rodriguez, Yvette Nicole Brown, Nicole Vicius', 'description': "An offbeat romantic comedy about a woman who doesn't believe true love exists, and the young man who falls for her.", 'avg_vote': 7.7, 'budget': 7500000, 'gross_income_usa': 32391374, 'gross_income_global': 60722734, 'votes': 448799, 'user_rating': 563.0, 'critics_reviews': 349.0, 'profit': 85614108}, {'title_id': 'tt1179933', 'title': '10 Cloverfield Lane', 'year': 2016, 'genre': 'Drama', 'duration': 103, 'director': 'Dan Trachtenberg', 'actors': 'John Goodman, Mary Elizabeth Winstead, John Gallagher Jr., Douglas M. Griffin, Suzanne Cryer, Bradley Cooper, Sumalee Montano, Frank Mottek', 'description': 'After getting in a car accident, a woman is held in a shelter with two men, who claim the outside world is affected by a widespread chemical attack.', 'avg_vote': 7.2, 'budget': 15000000, 'gross_income_usa': 72082998, 'gross_income_global': 110216998, 'votes': 268631, 'user_rating': 700.0, 'critics_reviews': 514.0, 'profit': 167299996}, {'title_id': 'tt3453052', 'title': '10 Days in a Madhouse', 'year': 2015, 'genre': 'Drama', 'duration': 111, 'director': 'Timothy Hines', 'actors': 'Caroline Barry, Christopher Lambert, Kelly LeBrock, Julia Chantrey, Sasha Kerbel, David Mitchum Brown, Natalia Davidenko, Jessa Campbell, Andi Morrow, Susan Goforth, Katie Singleton, Everette Scott Ortiz, Christopher Beeson, Talya Mar, Rachel Bohanon', 'description': "In 1887, at age 23, reporter Nellie Bly, working for Joseph Pulitzer, feigns mental illness to go undercover in notorious Blackwell's Island a woman's insane asylum to expose corruption, abuse and murder.", 'avg_vote': 6.7, 'budget': 120000, 'gross_income_usa': 14616, 'gross_income_global': 14616, 'votes': 1152, 'user_rating': 26.0, 'critics_reviews': 2.0, 'profit': -90768}, {'title_id': 'tt2789014', 'title': '100 Acres of Hell', 'year': 2019, 'genre': 'Action', 'duration': 85, 'director': 'Hank Leigh Hump', 'actors': "Gene Snisky, Jeff Swanton, Jim Roof, Ernest O'Donnell, Meg Carriero, Catherine Corcoran, Katie Walsh, Sam Anoai, Joel Ruda, Anthony Edward Curry, Brittany Ineson, Robert Waldron, Heidi Bird Kellers, Hannah Heckman, Michael Ashley McKeever", 'description': "When ex pro wrestler Buck Severs travels to an abandoned wildlife preserve with his friends for 'Bro's Weekend,' they become the targets of a deadly manhunt and Buck must find the fighter in himself before it's too late.", 'avg_vote': 2.9, 'budget': 65000, 'gross_income_usa': 5152, 'gross_income_global': 5152, 'votes': 143, 'user_rating': 17.0, 'critics_reviews': 9.0, 'profit': -54696}, {'title_id': 'tt0360323', 'title': '10th & Wolf', 'year': 2006, 'genre': 'Crime', 'duration': 107, 'director': 'Bobby Moresco', 'actors': 'James Marsden, Giovanni Ribisi, Brad Renfro, Piper Perabo, Dennis Hopper, Brian Dennehy, Lesley Ann Warren, Leo Rossi, Dash Mihok, Tommy Lee, Francesco Salvi, Val Kilmer, John Capodice, Billy Gallo, Ken Garito', 'description': 'A former street tough returns to his Philadelphia home after a stint in the military. Back on his home turf, he once again finds himself tangling with the mob boss who was instrumental in his going off to be a soldier.', 'avg_vote': 6.3, 'budget': 8000000, 'gross_income_usa': 54702, 'gross_income_global': 143451, 'votes': 5938, 'user_rating': 34.0, 'critics_reviews': 24.0, 'profit': -7801847}, {'title_id': 'tt1160368', 'title': '12 Rounds', 'year': 2009, 'genre': 'Action', 'duration': 108, 'director': 'Renny Harlin', 'actors': 'John Cena, Aidan Gillen, Ashley Scott, Steve Harris, Brian White, Gonzalo Menendez, Taylor Cole, Kyle Clements, Peter Navy Tuiasosopo, Travis Davis, Nick Gomez, Brian Decaro, Rosalind Rubin, Billy Slaughter, Kim Collins', 'description': "Detective Danny Fisher discovers his girlfriend has been kidnapped by an ex-con tied to Fisher's past, and he'll have to successfully complete 12 challenges in order to secure her safe release.", 'avg_vote': 5.6, 'budget': 22000000, 'gross_income_usa': 12234694, 'gross_income_global': 17280326, 'votes': 26261, 'user_rating': 118.0, 'critics_reviews': 117.0, 'profit': 7515020}, {'title_id': 'tt1413492', 'title': '12 Strong', 'year': 2018, 'genre': 'Action', 'duration': 130, 'director': 'Nicolai Fuglsig', 'actors': "Chris Hemsworth, Michael Shannon, Michael Peña, Navid Negahban, Trevante Rhodes, Geoff Stults, Thad Luckinbill, Austin Hébert, Austin Stowell, Ben O'Toole, Kenneth Miller, Kenny Sheard, Jack Kesy, Rob Riggle, William Fichtner", 'description': '12 Strong tells the story of the first Special Forces team deployed to Afghanistan after 9/11; under the leadership of a new captain, the team must work with an Afghan warlord to take down the Taliban.', 'avg_vote': 6.6, 'budget': 35000000, 'gross_income_usa': 45819713, 'gross_income_global': 67450815, 'votes': 54143, 'user_rating': 313.0, 'critics_reviews': 167.0, 'profit': 78270528}, {'title_id': 'tt0417385', 'title': '12 and Holding', 'year': 2005, 'genre': 'Drama', 'duration': 94, 'director': 'Michael Cuesta', 'actors': "Conor Donovan, Jesse Camacho, Zoe Weizenbaum, Jeremy Renner, Annabella Sciorra, Jayne Atkinson, Linus Roache, Marcia DeBonis, Tom McGowan, Michael C. Fuchs, Martin Campetta, Joseph Foster, Max Miner, Noelle 'Parker' Present, Jessica Sorto", 'description': 'After his twin brother is accidentally killed by vengeful bullies, a 12-year old boy and his friends face the harsh realities of death, teenage hormones, and family dysfunction.', 'avg_vote': 7.5, 'budget': 400000, 'gross_income_usa': 96464, 'gross_income_global': 119195, 'votes': 6531, 'user_rating': 51.0, 'critics_reviews': 62.0, 'profit': -184341}  ... displaying 10 of 2482 total bound parameter sets ...  {'title_id': 'tt0295701', 'title': 'xXx', 'year': 2002, 'genre': 'Action', 'duration': 124, 'director': 'Rob Cohen', 'actors': 'Vin Diesel, Asia Argento, Marton Csokas, Samuel L. Jackson, Michael Roof, Richy Müller, Werner Daehn, Petr Jákl, Jan Filipenský, Tom Everett, Danny Trejo, Thomas Ian Griffith, Eve, Leila Arcieri, William Hope', 'description': 'An extreme sports athlete, Xander Cage, is recruited by the government on a special mission.', 'avg_vote': 5.9, 'budget': 70000000, 'gross_income_usa': 142109382, 'gross_income_global': 277448382, 'votes': 168051, 'user_rating': 739.0, 'critics_reviews': 188.0, 'profit': 349557764}, {'title_id': 'tt0329774', 'title': 'xXx: State of the Union', 'year': 2005, 'genre': 'Action', 'duration': 101, 'director': 'Lee Tamahori', 'actors': 'Willem Dafoe, Samuel L. Jackson, Ice Cube, Scott Speedman, Xzibit, Peter Strauss, Michael Roof, Sunny Mabrey, Nona Gaye, John Gleeson Connolly, Ramon De Ocampo, Barry Sigismondi, Michael Don Evans, David Rountree, Ned Schmidtke', 'description': 'Darius Stone, a new agent in the xXx program, is sent to Washington, D.C. to stop a coup attempt against the President of the United States.', 'avg_vote': 4.4, 'budget': 60000000, 'gross_income_usa': 26873932, 'gross_income_global': 71022693, 'votes': 64761, 'user_rating': 228.0, 'critics_reviews': 62.0, 'profit': 37896625})]
(Background on this error at: http://sqlalche.me/e/9h9h)

In [34]:
#Confirm data has been added by querying the customer_name table
pd.read_sql_query('select * from imdb_movies', con=engine).head()

,title_id,title,year,genre,duration,director,actors,description,avg_vote,budget,gross_income_usa,votes,user_rating,critics_reviews
0,tt1022603,(500) Days of Summer,2009,"Comedy, Drama, Romance",95,Marc Webb,"Joseph Gordon-Levitt, Zooey Deschanel, Geoffre...",An offbeat romantic comedy about a woman who d...,7.7,7500000,32391374,448799,563.0,349.0
1,tt1179933,10 Cloverfield Lane,2016,"Drama, Horror, Mystery",103,Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...","After getting in a car accident, a woman is he...",7.2,15000000,72082998,268631,700.0,514.0
2,tt3453052,10 Days in a Madhouse,2015,Drama,111,Timothy Hines,"Caroline Barry, Christopher Lambert, Kelly LeB...","In 1887, at age 23, reporter Nellie Bly, worki...",6.7,120000,14616,1152,26.0,2.0
3,tt2789014,100 Acres of Hell,2019,"Action, Horror",85,Hank Leigh Hump,"Gene Snisky, Jeff Swanton, Jim Roof, Ernest O'...",When ex pro wrestler Buck Severs travels to an...,2.9,65000,5152,143,17.0,9.0
4,tt0360323,10th & Wolf,2006,"Crime, Drama, Thriller",107,Bobby Moresco,"James Marsden, Giovanni Ribisi, Brad Renfro, P...",A former street tough returns to his Philadelp...,6.3,8000000,54702,5938,34.0,24.0